
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Вход в аккаунт</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="position-relative">
        <h1 style="height: 10em; position: relative; margin: 0;position: absolute;top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">Войти в аккаунт</h1>
        <div class="mb-3" style="height: 10em; position: relative; margin: 0;position: absolute;top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">
            <form th:action="@{/login}" method="post">
                <div>
                    <label> Логин: <input type="text" name="username"/></label>
                </div>
                <p></p>
                <div>
                    <label> Пароль: <input type="password" name="password"/> </label>
                </div>
                <p></p>
                <div>
                    <input type="submit" value="Войти"/>
                </div>
            </form>
        </div>
    <div>
        <a th:href="@{/registration}">Регистрация.</a>
    </div>
</div>
</body>
</html>

