<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<div class="position-relative">
    <h1 style="height: 10em; position: relative; margin: 0;position: absolute;top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">Зарегистрироваться</h1>
    <div class="mb-3" style="height: 10em; position: relative; margin: 0;position: absolute;top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">
        <form action="#" th:action="@{/registration}" th:object="${userForm}" method="post">
            <div>
                <label> Логин: <input type="text" name="username" th:field="${userForm.username}"/></label>
            </div>
            <p></p>
            <div>
                <label> Пароль: <input type="password" name="password" th:field="${userForm.password}"/> </label>
            </div>
            <p></p>
            <div>
                <input type="submit" value="Зарегистрироваться"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>

